<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <%= render 'cocktails/list_doses', dose: dose %>
          <% end %>
            <%= render 'doses/form' %>
        </ul>
      <%= link_to 'Back', cocktails_path %>
    </div>
  </div>
</div>
